target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath

.vscode/

*.log
.DS_Store
Thumbs.db

*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Python demo scripts
__pycache__/
*.pyc
